# Recruit Restaurant Visitor Forecasting
This notebook uses a dataset from [Kaggle's Recruit Restaurant Visitor Forecasting](https://www.kaggle.com/c/recruit-restaurant-visitor-forecasting) competition:
> In this competition, you're challenged to use reservation and visitation data to predict the total number of visitors to a restaurant for future dates. This information will help restaurants be much more efficient and allow them to focus on creating an enjoyable dining experience for their customers.

## Load data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

In [2]:
def print_timedelta(df):
    print('Timedelta: {} days from {} to {}'.format(
        pd.Timedelta(df.max() - df.min()).days, df.min().date(), df.max().date()))

## Reservations

In [3]:
air_reserve = pd.read_csv('./input/air_reserve.csv', parse_dates=['visit_datetime', 'reserve_datetime'])

print('Size of the dataframe: {} rows and {} columns'.format(*air_reserve.shape))
air_reserve.head()

Size of the dataframe: 92378 rows and 4 columns

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [4]:
print_timedelta(air_reserve.visit_datetime)
print_timedelta(air_reserve.reserve_datetime)

Timedelta: 516 days from 2016-01-01 to 2017-05-31
Timedelta: 477 days from 2016-01-01 to 2017-04-22

In [5]:
hpg_reserve = pd.read_csv('./input/hpg_reserve.csv', parse_dates=['visit_datetime', 'reserve_datetime'])

print('Size of the dataframe: {} rows and {} columns'.format(*hpg_reserve.shape))
hpg_reserve.head()

Size of the dataframe: 2000320 rows and 4 columns

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [6]:
print_timedelta(hpg_reserve.visit_datetime)
print_timedelta(hpg_reserve.reserve_datetime)

Timedelta: 516 days from 2016-01-01 to 2017-05-31
Timedelta: 477 days from 2016-01-01 to 2017-04-22

## Train set

In [7]:
train = pd.read_csv('./input/air_visit_data.csv', parse_dates=['visit_date'])

print('Size of the dataframe: {} rows and {} columns'.format(*train.shape))
train.head()

Size of the dataframe: 252108 rows and 3 columns

           air_store_id visit_date  visitors
0  air_ba937bf13d40fb24 2016-01-13        25
1  air_ba937bf13d40fb24 2016-01-14        32
2  air_ba937bf13d40fb24 2016-01-15        29
3  air_ba937bf13d40fb24 2016-01-16        22
4  air_ba937bf13d40fb24 2016-01-18         6

In [8]:
print_timedelta(train.visit_date)

Timedelta: 477 days from 2016-01-01 to 2017-04-22

## Test set

In [9]:
test = pd.read_csv('./input/sample_submission.csv')

test['visit_date'] = test['id'].map(lambda x: str(x).split('_')[2])
test['air_store_id'] = test['id'].map(lambda x: '_'.join(x.split('_')[:2]))
test['visit_date'] = pd.to_datetime(test['visit_date'])

print('Size of the dataframe: {} rows and {} columns'.format(*test.shape))
test.head()

Size of the dataframe: 32019 rows and 4 columns

                                id  visitors visit_date          air_store_id
0  air_00a91d42b08b08d9_2017-04-23         0 2017-04-23  air_00a91d42b08b08d9
1  air_00a91d42b08b08d9_2017-04-24         0 2017-04-24  air_00a91d42b08b08d9
2  air_00a91d42b08b08d9_2017-04-25         0 2017-04-25  air_00a91d42b08b08d9
3  air_00a91d42b08b08d9_2017-04-26         0 2017-04-26  air_00a91d42b08b08d9
4  air_00a91d42b08b08d9_2017-04-27         0 2017-04-27  air_00a91d42b08b08d9

In [10]:
print_timedelta(test.visit_date)

Timedelta: 38 days from 2017-04-23 to 2017-05-31